//定位上下左右居中

.ctp(@width, @height){
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -@height/2;
    margin-left: -@width /2;
}

.wh(@width, @height){
    width: @width;
    height: @height;
}

//字体大小，颜色
.sc(@size, @color){
	font-size: @size;
	color: @color;
}